<!DOCTYPE html>
<html>
<head>
    <title>Control de Motores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Add this line -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css"> <!-- Cambia esta línea -->
    <link rel="stylesheet" type="text/css" href="/night-mode.css" id="night-mode"> <!-- Y esta línea si night-mode.css está en el mismo directorio que style.css -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Control de Motores</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contacto</a>
                    </li>
                    <li>
                        <button class="btn btn-primary" id="modeToggle">🌙</button>
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <%- body %>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/main.js"></script>
</body>
</html>